@model IEnumerable<AplicativoWeb.Models.Pessoa>

@{
    ViewBag.Title = "Cadastro de Pessoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pessoa</h2>
<table class="table">
    <tr>
        <td>
            @Html.TextBox("Pesquisa")
        </td>
        <td>
            <select id="selecionarFiltroBuscaPessoa" class="form-control">
                <option value=0>  </option>
                <option value=1> @Html.DisplayNameFor(model => model.Nome) </option>
                <option value=2> @Html.DisplayNameFor(model => model.DataDeNascimento) </option>
            </select>
        </td>
        <td>
            <div class="form-group" id="botao">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" id="btnBuscar" value="Buscar" class="btn btn-default" onclick="BuscarPessoa()" />
                </div>
            </div>
        </td>
    </tr>
</table>
<p>
    @Html.ActionLink("Inserir pessoa", "Inserir")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDeNascimento)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDeNascimento)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                @Html.ActionLink("Deletar", "Deletar", new { id = item.Id })
            </td>
        </tr>
    }

</table>


<script type="text/javascript">
    function BuscarPessoa() {
        var itemBusca = $("#selecionarFiltroBuscaPessoa").find(":selected").val();
        var url = "";
        var parametro = new Array();

        switch (itemBusca) {
            case "1":
                url = "Pessoa/BuscarPessoaPorNome";
                parametro = { nome: $("#Pesquisa").val() };
                break;
            //case "2":
            //    url = "Pessoa/BuscarPessoaPorDataDeNascimento";
            //    parametro = { dataDeNascimento: $("#Pesquisa").val() };
            //    break;
            default:
                url = "Pessoa/Index";
        }

        $.ajax({
            type: "GET",
            url: url,
            cache: false,
            data: parametro,
            success: function (data) {
                $("#informacoes").html(data);
            },
            error: function (xhr, er, errorThrown) {
                alert(xhr.responseText);
            }
        });
    }
</script>
